.slides_container {
	width:650px;
	display:none;
}
.slides_container div.slide_content{
	width:650px;
	height:180px;
	display:block;
}
.slides_container div.slide_content .content
{
	padding:5px 10px 0px 10px;
	height:180px;
}
