.font4 {
    color: #F5881C;
    font: bold 12px/18px Arial;
    margin-bottom: 15px;
}
.font1 {
    color: #0087C3;
    font: bold 12px/18px Arial;
    margin: 10px 0px;
}
.bor-wrap
{
    border: 1px solid #3B9DCC;
    padding:20px;
}
h1
{
    font-weight:bold;
    padding-bottom:10px;
    color: #0087C3;
    font-size:16px !important;
}